@font-face {
    font-family: 'CsClaireMono';
    src: url('../fonts/CsClaireMonoDemoRegular-0vdyX.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    height: 60px;
    width: 100%; 
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: 'CsClaireMono', sans-serif;
    background-color: transparent; /* Transparent background */
    box-shadow: none; /* Ensure no box-shadow is applied */
    border: none; 
  }


  .profile-container {
    position: relative;
    cursor: pointer;
    margin-left: 190px;
    top: -13px;
  }
  
  .profile-picture {
    width: 55px;
    height: 50px;
    transition: transform 0.3s ease;
  }
  
  .profile-container:hover .profile-picture {
    transform: scale(1.1); /* Slight zoom effect */
    transform: translate(-30px);
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    display: block;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-item:hover {
    background-color: #e0e0e0;
  }

  .profileSide {
    margin-top: 20px;
    margin-right: 27px;
  }