.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #F9F7EA;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: 'BemirsDemo', sans-serif;
}

.leftSide img {
  height: 70px;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 130px;
  position: absolute;
  left: 77%;
  top: 27px;
}

.Login {
  text-decoration: none;
  color: #75756e;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.Signup {
  text-decoration: none;
  color: #75756e;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.rightSide a:hover {
  color: #000000;
}
