/* Navbar styling */
/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: transparent; /* Set to transparent or white */
}

.logo {
  height: 40px; /* Adjust height based on how large you want the logo */
  width: auto; /* Keep the aspect ratio intact */
  display: block; /* Ensures the logo is displayed as a block element */
}

.google-logo {
  height: 20px;
  width: auto;
}

.github-logo {
  height: 20px;
  width: auto;
}

/* Styling for the SignUp page */
.SignUp-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding-top: 80px; /* Padding to avoid overlap with the navbar */
}

.SignUp-container {
  width: 400px;
  padding: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  margin-top: 50px;
}
.SignUp-container h1 {
  font-size: 24px;
  font-weight: 700;
}

.SignUp-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

.SignUp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.separator {
  border: none; /* Remove default border */
  border-top: 1px solid black; /* Create a thin black line */
  margin: 20px 0; /* Add some spacing around the line */
  width: 100%; /* Make it span the full width */
}

.SignUp-button img {
  margin-right: 10px;
}

.email-label,
.password-label,
.confirm-password-label {
  color: grey;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.google {
  background-color: white;
}

.github {
  background-color: white;
  color: hsl(180, 60%, 10%);
}

.sso {
  background-color: white;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.continue-button {
  width: 422px;
  padding: 10px;
  background-color: #344966;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #0d1821;
  size: 20px;
}

small {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  color: #999;
}
